<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042200583333-gbq4sj8q9i3ashnk68ibngai0urmja7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042200583333-gbq4sj8q9i3ashnk68ibngai0urmja7g</string>
	<key>API_KEY</key>
	<string>AIzaSyBHzx58ftu-bPOgePzNHd_BdTvfp2pAeLM</string>
	<key>GCM_SENDER_ID</key>
	<string>1042200583333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.reals</string>
	<key>PROJECT_ID</key>
	<string>reals-27ba6</string>
	<key>STORAGE_BUCKET</key>
	<string>reals-27ba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042200583333:ios:4374a6c522c6b99040414c</string>
</dict>
</plist>